.bgc-image-heros1{
        background-image: url(../Illustration/img1.png);
        background-size: cover;
        background-position: 100% 15%;
}

.bgc-image-heros2{
        background-image: url(../Illustration/img1.png);
        background-size: cover;
        background-position: 100% 15%;
}

.bgc-image-heros3{
        background-image: url(../Illustration/img1.png);
        background-size: cover;
        background-position: 100% 15%;
}
